* {
	box-sizing: border-box;
}

.clearfix:after {
	clear:both;
	content:"";
	display: block;
}

header, .hero, nav a, .hamburger, .col-3, footer, .col-4{
	border: 2px solid black;
	background-color: #444;
}

header {
	
}

body {
	padding: 0 10px;
}

nav {
	display: none;
}

.hamburger{
	height: 50px;
	width: 65px;
	float: right;
	padding: 0 15px;
	display: none;
}

.line {
	height: 2px;
	background: #000;
	margin-top: 10px;
}

.hero {
	height: 150px;

}

.col-3 {
	margin-top: 5px;
	height: 125px;
}
.col-3 :