* {
	box-sizing: border-box;
}

.placeholder {
	padding: 20px;
	border-radius: 5px;
	background-color: gray;
	height: 100px;
	margin: 10px;
}
header {
	overflow: auto;
}
nav {
	float: left;
	width: 20px;
}
main {
	float: left;
	width: 60%;
	overflow: auto;
}s

aside {
	float: right;
	width: 20%;
}
footer {
	clear: both;
	overflow: auto;
}