/* MAIN CSS */

* {
	font-family: Helvetica, times;
}

.clearfix:after {
  content: "";
  display: inline-block;
  clear: both;
}

/* Hamburger Menu */

.crabbypatty {
	height: 6px;
	width: 12%;
	float: right;
	padding: 1.5em .1em;
}

.pickle1, .pickle2, .pickle3 {
	width: 70%;
	height: 18px;
	background: #444;
	margin-bottom:10px;
	transition: .04s;
}

/* Rotate first bar */
.change .pickle1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
}

/* Fade out the second bar */
.change .pickle2 {
    opacity: 0;
}

/* Rotate last bar */
.change .pickle3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
}

/* HEADER */

#logobox {
	height: 350px;
	padding: 14% 0 4% 0 ;
}

.myname {
	float: right;
	width: 50%;
	font-size: 2.4em;
	line-height: 24px;
	padding-top: 6%;
	font-weight: 600;
	color: #444;
}

.logo {
	width: 45%;
	float: left;
}

.logo img {
	height: 150px;
	margin: 4em 0 0 21em ;

}


#photo {
	height: 550px;
	background-image: url(../images/photo1.png);
	background-size: 100%;
	background-repeat: no-repeat;
	margin: 2.2em 1.8em;

}

#video {
	height: 550px;
	background-image: url(../images/video1.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 2.2em 1.8em;

}

#webdesign{
	height: 550px;
	background-image: url(../images/graphicdesign1.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 2.2em 1.8em;
}

#blog {
	height: 550px;
	background-image: url(../images/blog1.png);
	background-repeat: no-repeat;
	background-size: 100%;
	margin: 2.2em 1.8em;
}

.button {
	height: 100px;
	background: #2E2E2E;
	width: 45%;
	float: right;
	margin: -2em -1em 0 0;
}

.button:hover {
	background: black;
	width: 50%;
}

.button a {
	display: block;
	text-decoration: none;
	font-weight: 500;
	font-size: 2.4em;
	color: white;
	margin: .5em 0 0 1em;
	padding: 2% 5% 5% 2%;
}


#social {
	margin: 2em 0 2em 17em;

}


#social img {
	width: 12%;
}

#social a:hover {
	width: 14%;
}

@media  screen and (min-width: 1224) {

	.pickle {
		height: 1px;

	}
}
