/* MAIN CSS */

* {
	font-family: Helvetica, times;
}

.clearfix:after {
  content: "";
  display: inline-block;
  clear: both;
}

#crabbypatty {
	height: 60px;
	width: 7%;
	float: right;
	padding: 2% 2%;
	background-color: black;
}

#pickels {
	width: 80%;
	height: 50px;
	background: white;
}

#logobox {
	height: 250px;
	padding-top: 10%;
}

#photo {
	height: 550px;
}

#video {
	height: 550px;
}

#webdesign{
	height: 550px;
}

#blog {
	height: 550px;
}

.button {
	height: 100px;
	background: #2E2E2E;
	width: 500px;
	float: right;
}
a {
	display: block;
	text-decoration: none;
	font-weight: 500;
	font-size: 3.4em;
	color: white;
	margin: 0 auto;
	padding: 2% 5% 5% 2%;
	}

