* {
	box-sizing: border-box;
}

.placeholder {
	padding: 20px;
	border-radius: 5px;
	background-color: gray;
	height: 100px;
	margin: 10px;
}
header {
	overflow: auto;
}
nav {
	float: left;
	width: 50%;
}
.section2 {
	float: right;
	width: 50%;
}
aside {
	width: 20%;
}
footer {

}